* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  height: 100vh;
  width: 430px;
  background: #ffffff;
  padding: 25px;
}
.back {
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  color: black;
  font-weight: 800;
  margin-bottom: 100px;
}
.logo {
  width: 60px;
  height: 60px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  border: none;
  height: 2px;
  background-color: black;
  width: 100%;
  margin: 20px auto;
  border-radius: 2px;
}
h1 {
  color: black;
}
h1 {
  color: black;
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  color: #030000;
  margin-bottom: 25px;
}

/* Input Fields */
.input-title {
  color: #777;
  font-size: small;
  margin-bottom: 10px;
}
.input-group {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  border: 1px solid #777;
  border-radius: 12px;
  padding: 14px, 0px;
  justify-content: center;
  align-items: center;
}

.input-group input {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
}

.input-group:hover {
  border-color: black;
}
.input-group i {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  color: #777;
}

/* Remember & Forgot */
.options {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.options a {
  text-decoration: underline;
  color: black;
  font-weight: 500;
}
.options label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkbox {
  width: 16px;
  height: 16px;
  accent-color: black;
  background-color: white;
}
/* Login Button */
.login-btn {
  width: 100%;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider span {
  padding: 0 10px;
  font-size: 13px;
  color: #777;
}

/* Social Buttons */
.social-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 12px;
  color: black;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
}

.social-btn img {
  width: 18px;
}

/* Signup */
.signup {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  color: #777;
}

.signup a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
