<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  />
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="back"><i (click)="navService.back()" class="fa-solid fa-arrow-left"></i></div>
      <div><h1>Forgot</h1></div>
    </div>
    <div>
      <img src="assets/fp.png" alt="" />
    </div>
    <div class="subtitles">
      <h1>Forgot Password?</h1>
      <p>
        Don't worry! it happens. Please enter your email address associated with
        your account
      </p>
      <div class="input">
        <h6>Enter your email address</h6>
        <div class="input-group">
          <i class="fa-regular fa-envelope"></i>
          <input type="email" placeholder="E-mail Address" [(ngModel)]="email" />
        </div>
      </div>
      <button (click)="sentOtp()" class="login-btn">Get OTP</button>
    </div>
  </div>
</body>
