<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  />
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="assets/logo.png" alt="" />
    </div>
    <div class="welcome">
      <h1>Welcome Back</h1>
    </div>
    <div class="sign">
      <button class="sign-in">SIGN IN</button><br />
      <button class="sign-up">SIGN UP</button>
    </div>
    <div class="social">
      <p>Login With Social Media</p>
      <a href="https://accounts.google.co.in/"
        ><i class="fa-brands fa-google"></i
      ></a>
    </div>
  </div>
</body>
