<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  />
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="assets/icon/logo.png" alt="" />
    </div>
    <div class="signIn-buttons">
      <button (click)="goToSignIn()" class="login">Login</button><br />
      <button (click)="gotoSignUp()" class="sign-up">Sign up</button>
    </div>
    <div class="divider">
      <span>Or</span>
    </div>
    <button class="google-btn">
      <i class="fa-brands fa-google"></i>
      <span>Continue With Google</span>
    </button>
  </div>
</body>
