* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  font-family: Arial, sans-serif;
}

.logo {
  display: flex;

  width: 300px;
  height: 150px;
  top: 50px;
  left: 410px;
}

.login-form {
  position: relative;
}

.login-container {
  width: 320px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 25px;
  color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 25px;
}

.input-box input {
  width: 100%;
  padding: 12px 10px;
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
}

.input-box input:focus {
  border-bottom: 2px solid #4facfe;
}

.input-box label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: 0px;
  font-size: 12px;
  color: #4facfe;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #4facfe;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #0284f0;
}
