<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  />
</head>
<body>
  <div class="container">
    <div class="back"><i class="fa-solid fa-arrow-left"></i></div>

    <div class="logo"><img class="RR" src="assets/icon/logo.png" alt="" /></div>

    <h1>Register</h1>
    <hr class="line" />

    <p class="input-title">Enter Email address</p>
    <div class="input-group">
      <i class="fa-regular fa-envelope"></i>
      <input type="email" placeholder="E-mail Address" [(ngModel)]="email" />
    </div>
    <p class="input-title">Enter Your Password</p>
    <div class="input-group">
      <i class="fa-solid fa-key"></i>
      <input type="password" placeholder="Password" [(ngModel)]="password" />
      <i class="fa-solid fa-eye"></i>
    </div>
    <p class="input-title">Re-Enter Your Password</p>
    <div class="input-group">
      <i class="fa-solid fa-key"></i>
      <input type="password" placeholder="Password" [(ngModel)]="confirmPassword" />
      <i class="fa-solid fa-eye"></i>
    </div>

    <button class="login-btn" (click)="register()">Sign Up</button>

    <div class="divider">
      <span>Or</span>
    </div>

    <button class="social-btn">
      <i class="fa-brands fa-google"></i>
      Continue with Google
    </button>

    <div class="signup">have an existing account? <a (click)="goToSignIn()">Sign In</a></div>
  </div>
</body>
