<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  />
</head>
<body>
  <div class="container">
    <div (click)="navService.back()" class="back"><i class="fa-solid fa-arrow-left"></i></div>

    <div class="logo"><img class="RR" src="assets/icon/logo.png" alt="" /></div>

    <h1>Login</h1>
    <div class="subtitle">Please login to your account</div>
    <p class="input-title">Email address</p>
    <div class="input-group">
      <i class="fa-regular fa-envelope"></i>
      <input type="email" placeholder="E-mail Address" [(ngModel)]="email" />
    </div>
    <p class="input-title">Password</p>
    <div class="input-group">
      <i class="fa-solid fa-key"></i>
      <input type="password" placeholder="Password" [(ngModel)]="password" />
      <i class="fa-solid fa-eye"></i>
    </div>

    <div class="options">
      <label> <input class="checkbox" type="checkbox" /> Remember me </label>
      <a (click)="goToForgot()">Forgot password?</a>
    </div>

    <button class="login-btn" (click)="goToDashboard()">Login</button>

    <div class="divider">
      <span>Or</span>
    </div>

    <button class="social-btn">
      <i class="fa-brands fa-google"></i>
      Continue with Google
    </button>

    <div class="signup">
      Don't have account? <a (click)="goToSignUp()">Sign up</a>
    </div>
  </div>
</body>
